<link href="~/css/map.css" rel="stylesheet" asp-append-version="true" />


<div class="map-page-container">
    <div class="area1">
        <div class="content">
            <div class="map-container">
                <iframe src="https://www.google.com/maps/d/embed?mid=1sy0pu6vIrziUjkAYA2aJk7CY9oC_e3k&ehbc=2E312F&noprof=1"
                        width="1000"
                        height="800"></iframe>
            </div>
        </div>
    </div>
</div>