body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft JhengHei';
    font-size: 16px;
}

body {
    background-color: #f8f8f8;
}

@media screen and (min-width: 768px) {
    .article-page-container {
        width: 100%;
    }

        .article-page-container .area1 {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 40px 0;
        }

            .article-page-container .area1 > .content {
                width: calc(100% - 40px);
                max-width: 1280px;
                display: flex;
            }

                .article-page-container .area1 > .content > .news-container {
                    width: 100%;
                    height: 700px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 60px;
                }

                    .article-page-container .area1 > .content > .news-container > .left {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        flex: 2;
                        border-radius: 20px;
                        background-color: #ffffff;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 这里设置阴影，可以调整颜色和模糊程度 */
                    }

                        .article-page-container .area1 > .content > .news-container > .left > .focus-box {
                            width: calc(100% - 80px);
                            max-width: 600px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            margin: 40px 0 0 0;
                        }

                            .article-page-container .area1 > .content > .news-container > .left > .focus-box > .title {
                                width: 100%;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                margin: 0 0 20px 0;
                            }

                                .article-page-container .area1 > .content > .news-container > .left > .focus-box > .title > .cross-box {
                                    position: relative;
                                    width: 25px;
                                    height: 25px;
                                }

                                    .article-page-container .area1 > .content > .news-container > .left > .focus-box > .title > .cross-box > .cross-row {
                                        position: absolute;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        width: 100%;
                                        height: 25%;
                                        background-color: #e84c2e;
                                    }

                                    .article-page-container .area1 > .content > .news-container > .left > .focus-box > .title > .cross-box > .cross-column {
                                        position: absolute;
                                        left: 50%;
                                        transform: translateX(-50%);
                                        width: 25%;
                                        height: 100%;
                                        background-color: #e84c2e;
                                    }

                                .article-page-container .area1 > .content > .news-container > .left > .focus-box > .title > span {
                                    color: #e84c2e;
                                    font-size: 34px;
                                    font-weight: 700;
                                }

                            .article-page-container .area1 > .content > .news-container > .left > .focus-box > .focus-img-box {
                                width: 100%;
                                display: flex;
                            }

                                .article-page-container .area1 > .content > .news-container > .left > .focus-box > .focus-img-box > img {
                                    width: 100%;
                                }

                            .article-page-container .area1 > .content > .news-container > .left > .focus-box > .focus-text > p {
                                width: 100%;
                                display: flex;
                                font-size: 28px;
                                font-weight: 700;
                                margin: 20px 0 0 0;
                            }
                    /* ------------- */
                    .article-page-container .area1 > .content > .news-container > .right {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        flex: 1;
                        border-radius: 20px;
                        background-color: #ffffff;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 这里设置阴影，可以调整颜色和模糊程度 */
                    }

                        .article-page-container .area1 > .content > .news-container > .right > .hot-box {
                            width: calc(100% - 80px);
                            max-width: 600px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            margin: 40px 0 0 0;
                        }

                            .article-page-container .area1 > .content > .news-container > .right > .hot-box > .title {
                                width: 100%;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                margin: 0 0 20px 0;
                            }

                                .article-page-container .area1 > .content > .news-container > .right > .hot-box > .title > .cross-box {
                                    position: relative;
                                    width: 25px;
                                    height: 25px;
                                }

                                    .article-page-container .area1 > .content > .news-container > .right > .hot-box > .title > .cross-box > .cross-row {
                                        position: absolute;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        width: 100%;
                                        height: 25%;
                                        background-color: #e84c2e;
                                    }

                                    .article-page-container .area1 > .content > .news-container > .right > .hot-box > .title > .cross-box > .cross-column {
                                        position: absolute;
                                        left: 50%;
                                        transform: translateX(-50%);
                                        width: 25%;
                                        height: 100%;
                                        background-color: #e84c2e;
                                    }

                                .article-page-container .area1 > .content > .news-container > .right > .hot-box > .title > span {
                                    color: #e84c2e;
                                    font-size: 34px;
                                    font-weight: 700;
                                    width: 100%;
                                }

                            .article-page-container .area1 > .content > .news-container > .right > .hot-box > ul {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: 20px;
                            }

                                .article-page-container .area1 > .content > .news-container > .right > .hot-box > ul > li {
                                    width: 100%;
                                }

                                    .article-page-container .area1 > .content > .news-container > .right > .hot-box > ul > li span {
                                        color: #d9d9d9;
                                        font-size: 20px;
                                    }

                                    .article-page-container .area1 > .content > .news-container > .right > .hot-box > ul > li > P {
                                        display: flex;
                                        justify-content: flex-start;
                                        align-items: center;
                                    }

                                    .article-page-container .area1 > .content > .news-container > .right > .hot-box > ul > li > .hot-box-text {
                                        display: flex;
                                        justify-content: flex-start;
                                        align-items: center;
                                        font-size: 20px;
                                        font-weight: 700;
                                        margin: 10px 0 0 0;
                                    }

                                .article-page-container .area1 > .content > .news-container > .right > .hot-box > ul > .line {
                                    width: 100%;
                                    height: 1px;
                                    background-color: #d9d9d9;
                                }


        /* ------ */

        .article-page-container .area2 {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 80px;
            background-color: #f8f8f8;
        }

            .article-page-container .area2 > .content {
                max-width: 1280px;
                width: calc(100% - 40px);
                padding: 60px;
            }

                .article-page-container .area2 > .content > .article-container {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 60px;
                }

                    .article-page-container .area2 > .content > .article-container > .item {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        gap: 40px;
                        position: relative;
                    }

                        .article-page-container .area2 > .content > .article-container > .item > .title {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: relative;
                        }

                            .article-page-container .area2 > .content > .article-container > .item > .title > p {
                                font-size: 28px;
                                font-weight: 700;
                                position: relative;
                            }

                                .article-page-container .area2 > .content > .article-container > .item > .title > p::after {
                                    position: absolute;
                                    bottom: -10px;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    display: block;
                                    content: '';
                                    width: 20px;
                                    height: 4px;
                                    background-color: #e84c2e;
                                }

                        .article-page-container .area2 > .content > .article-container > .item > .article-box {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            gap: 60px;
                        }

                            .article-page-container .area2 > .content > .article-container > .item > .article-box > .article {
                                width: calc((100% - 120px) / 3);
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                position: relative;
                            }

                                .article-page-container .area2 > .content > .article-container > .item > .article-box > .article > .img-box {
                                    width: 100%;
                                    height: 210px;
                                }

                                .article-page-container .area2 > .content > .article-container > .item > .article-box > .article > p {
                                    font-weight: 700;
                                    margin: 10px 0 0 0;
                                    font-size: 20px;
                                }

                                .article-page-container .area2 > .content > .article-container > .item > .article-box > .article > .img-box > img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                        .article-page-container .area2 > .content > .article-container > .item > .more {
                            position: absolute;
                            bottom: -40px;
                            right: 0;
                        }

                            .article-page-container .area2 > .content > .article-container > .item > .more > a {
                                /* background-color: #e84c2e; */
                                /* color: #ffffff; */
                                border: #e84c2e solid 1px;
                                color: #e84c2e;
                                border-radius: 30px;
                                font-weight: 700;
                                font-size: 18px;
                                padding: 15px;
                            }
    /* ----- */
}

body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft JhengHei';
    font-size: 16px;
}

body {
    background-color: #f8f8f8;
}

@media screen and (min-width: 768px) {
    .article-content-container {
        width: 100%;
    }

        .article-content-container .area1 {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 40px 0;
        }

            .article-content-container .area1 > .content {
                width: calc(100% - 40px);
                max-width: 1280px;
            }

                .article-content-container .area1 > .content > .news-container {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 60px;
                }

                    .article-content-container .area1 > .content > .news-container > .left {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        flex: 2;
                        border-radius: 20px;
                    }

                        .article-content-container .area1 > .content > .news-container > .left > .focus-box {
                            width: calc(100% - 80px);
                            max-width: 600px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            position: relative;
                        }

                            .article-content-container .area1 > .content > .news-container > .left > .focus-box > .title {
                                width: 100%;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                margin: 0 0 20px 0;
                            }

                                .article-content-container .area1 > .content > .news-container > .left > .focus-box > .title > .cross-box {
                                    position: relative;
                                    width: 25px;
                                    height: 25px;
                                }

                                    .article-content-container .area1 > .content > .news-container > .left > .focus-box > .title > .cross-box > .cross-row {
                                        position: absolute;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        width: 100%;
                                        height: 25%;
                                        background-color: #e84c2e;
                                    }

                                    .article-content-container .area1 > .content > .news-container > .left > .focus-box > .title > .cross-box > .cross-column {
                                        position: absolute;
                                        left: 50%;
                                        transform: translateX(-50%);
                                        width: 25%;
                                        height: 100%;
                                        background-color: #e84c2e;
                                    }

                                .article-content-container .area1 > .content > .news-container > .left > .focus-box > .title > span {
                                    color: #e84c2e;
                                    font-size: 34px;
                                    font-weight: 700;
                                }

                            .article-content-container .area1 > .content > .news-container > .left > .focus-box > .focus-img-box {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                margin-bottom: 40px;
                                position: relative;
                            }

                                .article-content-container .area1 > .content > .news-container > .left > .focus-box > .focus-img-box > img {
                                    width: 100%;
                                }

                            .article-content-container .area1 > .content > .news-container > .left > .focus-box > h1 {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                font-size: 28px;
                                font-weight: 700;
                                margin-bottom: 10px;
                                position: relative;
                            }

                            .article-content-container .area1 > .content > .news-container > .left > .focus-box > .focus-text {
                                width: 100%;
                                height: 100%;
                                position: relative;
                            }

                                .article-content-container .area1 > .content > .news-container > .left > .focus-box > .focus-text > h4 {
                                    width: 100%;
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    font-size: 22px;
                                    font-weight: 700;
                                    color: #e84c2e;
                                    margin: 20px 0;
                                    position: relative;
                                }

                                .article-content-container .area1 > .content > .news-container > .left > .focus-box > .focus-text > h5 {
                                    width: 100%;
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    font-size: 20px;
                                    font-weight: 700;
                                    color: #e84c2e;
                                    position: relative;
                                    margin: 20px 0px;
                                }

                                .article-content-container .area1 > .content > .news-container > .left > .focus-box > .focus-text > .focus-img-box {
                                    width: 100%;
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    margin-bottom: 40px;
                                    position: relative;
                                }

                                    .article-content-container .area1 > .content > .news-container > .left > .focus-box > .focus-text > .focus-img-box > img {
                                        width: 100%;
                                    }

                                .article-content-container .area1 > .content > .news-container > .left > .focus-box > .focus-text > p {
                                    display: flex;
                                    position: relative;
                                    white-space: pre-line;
                                }
                    /* ------------- */
                    .article-content-container .area1 > .content > .news-container > .right {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        flex: 1;
                        gap: 40px;
                    }

                        .article-content-container .area1 > .content > .news-container > .right > .right-content {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 20px;
                            background-color: #ffffff;
                            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                        }

                            .article-content-container .area1 > .content > .news-container > .right > .right-content > .hot-box {
                                width: calc(100% - 80px);
                                max-width: 600px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                margin: 40px 0;
                            }

                                .article-content-container .area1 > .content > .news-container > .right > .right-content > .hot-box > .title {
                                    width: 100%;
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    margin: 0 0 20px 0;
                                }

                                    .article-content-container .area1 > .content > .news-container > .right > .right-content > .hot-box > .title > .cross-box {
                                        position: relative;
                                        width: 25px;
                                        height: 25px;
                                    }

                                        .article-content-container .area1 > .content > .news-container > .right > .right-content > .hot-box > .title > .cross-box > .cross-row {
                                            position: absolute;
                                            top: 50%;
                                            transform: translateY(-50%);
                                            width: 100%;
                                            height: 25%;
                                            background-color: #e84c2e;
                                        }

                                        .article-content-container .area1 > .content > .news-container > .right > .right-content > .hot-box > .title > .cross-box > .cross-column {
                                            position: absolute;
                                            left: 50%;
                                            transform: translateX(-50%);
                                            width: 25%;
                                            height: 100%;
                                            background-color: #e84c2e;
                                        }

                                    .article-content-container .area1 > .content > .news-container > .right > .right-content > .hot-box > .title > span {
                                        color: #e84c2e;
                                        font-size: 34px;
                                        font-weight: 700;
                                        width: 100%;
                                    }

                                .article-content-container.area1 > .content > .news-container > .right > .right-content > .hot-box > ul {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 20px;
                                }

                                    .article-content-container.area1 > .content > .news-container > .right > .right-content > .hot-box > ul > li {
                                        width: 100%;
                                    }

                                        .article-content-container.area1 > .content > .news-container > .right > .right-content > .hot-box > ul > li span {
                                            color: #d9d9d9;
                                            font-size: 20px;
                                        }

                                        .article-content-container.area1 > .content > .news-container > .right > .right-content > .hot-box > ul > li > P {
                                            display: flex;
                                            justify-content: flex-start;
                                            align-items: center;
                                        }

                                        .article-content-container.area1 > .content > .news-container > .right > .right-content > .hot-box > ul > li > .hot-box-text {
                                            display: flex;
                                            justify-content: flex-start;
                                            align-items: center;
                                            font-size: 20px;
                                            font-weight: 700;
                                            margin: 10px 0 0 0;
                                        }

                                .article-content-container.area1 > .content > .news-container > .right > .right-content > .hot-box > .item {
                                    width: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    margin-bottom: 30px;
                                }

                                    .article-content-container.area1 > .content > .news-container > .right > .right-content > .hot-box > .item > .img-box {
                                        width: 100%;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: flex-start;
                                        margin-bottom: 10px;
                                    }

                                        .article-content-container.area1 > .content > .news-container > .right > .right-content > .hot-box > .item > .img-box > img {
                                            width: 100%;
                                        }

                                    .article-content-container.area1 > .content > .news-container > .right > .right-content > .hot-box > .item > p {
                                        display: flex;
                                        justify-content: flex-start;
                                        align-items: center;
                                        font-size: 20px;
                                        font-weight: 700;
                                    }
}

.index-container {
    width: 100%;
}

/* ------ */

.article-detail-page-container {
    width: 100%;
}

    /* ------ */

    .article-detail-page-container > .area1 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f8f8f8;
    }

        .article-detail-page-container > .area1 > .content {
            max-width: 1280px;
            width: calc(100% - 40px);
            padding: 60px 0px;
        }

            .article-detail-page-container > .area1 > .content > .article-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 60px;
            }

            .article-detail-page-container > .area1 > .content > .article-container {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 40px;
                position: relative;
                padding: 0 0 30px 0;
            }

                .article-detail-page-container > .area1 > .content > .article-container > .title {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                    .article-detail-page-container > .area1 > .content > .article-container > .title > p {
                        font-size: 28px;
                        font-weight: 700;
                        position: relative;
                    }

                        .article-detail-page-container > .area1 > .content > .article-container > .title > p::after {
                            position: absolute;
                            bottom: -10px;
                            left: 50%;
                            transform: translateX(-50%);
                            display: block;
                            content: '';
                            width: 20px;
                            height: 4px;
                            background-color: #e84c2e;
                        }

                .article-detail-page-container > .area1 > .content > .article-container > .article-box {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 60px;
                }

                    .article-detail-page-container > .area1 > .content > .article-container > .article-box > .article {
                        width: calc((100% - 240px) / 3);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        position:relative;
                    }

                        .article-detail-page-container > .area1 > .content > .article-container > .article-box > .article > .img-box {
                            width: 100%;
                            height: 210px;
                        }

                        .article-detail-page-container > .area1 > .content > .article-container > .article-box > .article > p {
                            font-weight: 700;
                            margin: 10px 0 0 0;
                            font-size: 20px;
                        }

                        .article-detail-page-container > .area1 > .content > .article-container > .article-box > .article > .img-box > img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                .article-detail-page-container > .area1 > .content > .article-container > .more > span {
                    border: #e84c2e solid 1px;
                    color: #e84c2e;
                    border-radius: 30px;
                    font-weight: 700;
                    font-size: 18px;
                    padding: 15px;
                }


.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 60px;
    gap: 20px;
}

    .btn > button {
        padding: 10px 20px;
        font-size: 20px;
        font-weight: 700;
        border: none;
        box-shadow: 0px 0px 9px #000000;
        border-radius: 20px;
    }

        .btn > button:hover {
            background-color: #e84c2e;
            color: #ffffff;
        }

.window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0px 0px 9px #000000;
    box-sizing: border-box;
    width: 800px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
}

    .window > .box {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        padding: 20px 40px;
        box-sizing: border-box;
    }

    .window > .edit-title > select {
        padding: 5px;
        border: solid 1px #000000;
        font-weight: 700;
        cursor: pointer;
    }

    .window > .edit-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

        .window > .edit-content > .img-box {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 150px;
        }

            .window > .edit-content > .img-box > img {
                /* width: calc(50% - 100px); */
                max-width: 360px;
            }

    .window > .box > input {
        width: calc(100% - 100px);
        height: 30px;
        box-sizing: border-box;
        font-size: 16px;
        font-weight: 700;
        border: solid 1px #000000;
    }

    .window > .box > textarea {
        /* width: calc(100% - 68px); */
        width: 100%;
        height: calc(500px - 70px - 40px - 50px);
        box-sizing: border-box;
        font-size: 16px;
        font-weight: 700;
        border: solid 1px #000000;
    }

    .window > .box > img {
        width: 200px;
        height: 200px;
    }

    .window > .button-box {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        padding: 20px 40px;
        position: relative;
        bottom: 0;
        right: 0;
    }

        .window > .button-box > button {
            padding: 5px 10px;
            font-size: 20px;
            font-weight: 700;
            border: none;
            box-shadow: 0px 0px 9px #000000;
            border-radius: 10px;
        }

            .window > .button-box > button:hover {
                background-color: #e84c2e;
                color: #ffffff;
            }

.alertWindow {
    position: fixed;
    top: 50%;
    left: calc(50% + 100px);
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0px 0px 9px #000000;
    box-sizing: border-box;
    width: 220px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
}
    .alertWindow > .box {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px 40px;
        box-sizing: border-box;
    }
    .alertWindow > .button-box {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px 40px;
        position: relative;
        bottom: 0;
        right: 0;
    }

        .alertWindow > .button-box > button {
            padding: 5px 10px;
            font-size: 20px;
            font-weight: 700;
            border: none;
            box-shadow: 0px 0px 9px #000000;
            border-radius: 10px;
        }

            .alertWindow > .button-box > button:hover {
                background-color: #e84c2e;
                color: #ffffff;
            }
.doneWindow {
    position: fixed;
    top: 50%;
    left: calc(50% + 100px);
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0px 0px 9px #000000;
    box-sizing: border-box;
    width: 220px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;

}
    .doneWindow > .box {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px 40px;
        box-sizing: border-box;
        color: #ffffff;
        background-color: #e84c2e;
    }

.editCategory{
    width: 300px;
}
    .editCategory > .box {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        padding: 20px 40px;
        box-sizing: border-box;
    }
        .editCategory > .box > span {
            width: 100px;
        }
.editCategory > .box > input {
    width: 100%;
}

.updatePopularityWindow {
    width: 300px;
}

.updatePopularityWindow > .box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 20px 40px;
    box-sizing: border-box;
}

    .updatePopularityWindow > .box > span {
        width: 150px;
    }

    .updatePopularityWindow > .box > input {
        width: 100%;
    }
    .updatePopularityWindow > .button-box {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px 40px;
        position: relative;
        bottom: 0;
        right: 0;
    }
