body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft JhengHei';
    font-size: 16px;
}

body {
    background-color: #f8f8f8;
}

@media screen and (max-width: 767px) {
    .about-page-container {
        width: 100%;
        margin: 100px 0 0 0;
    }

    .area1 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 100px 0;
    }

        .area1 > .content {
            width: calc(100% - 40px);
        }

            .area1 > .content > .news-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 60px;
            }

                .area1 > .content > .news-container > .left {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                }

                    .area1 > .content > .news-container > .left > .focus-box {
                        width: calc(100% - 40px);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }

                        .area1 > .content > .news-container > .left > .focus-box > ul {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 30px;
                        }
                            .area1 > .content > .news-container > .left > .focus-box > ul > li {
                                width: 100%;
                            }

                            .area1 > .content > .news-container > .left > .focus-box > ul > li > a {
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 24px;
                                font-weight: 700;
                                color: #e84c2e;
                                border: solid 1px #e84c2e;
                                border-radius: 30px;
                                padding: 10px 20px;
                            }

                        .area1 > .content > .news-container > .left > .focus-box > .focus-img-box {
                            width: 100%;
                            display: flex;
                        }

                            .area1 > .content > .news-container > .left > .focus-box > .focus-img-box > img {
                                width: 100%;
                            }

                        .area1 > .content > .news-container > .left > .focus-box > .focus-text > p {
                            width: 100%;
                            display: flex;
                            font-size: 28px;
                            font-weight: 700;
                            margin: 20px 0 0 0;
                        }
                /* ------------- */
                .area1 > .content > .news-container > .right {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                }

                    .area1 > .content > .news-container > .right > .hot-box {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                    }

                        .area1 > .content > .news-container > .right > .hot-box > h4 {
                            width: 100%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            font-size: 24px;
                            font-weight: 700;
                            margin: 0 0 20px 0;
                        }

                        .area1 > .content > .news-container > .right > .hot-box > .text > p {
                            white-space: pre-line;
                        }

    .about-container > .area1 > .content > .news-container > .right > .hot-box > .img-box {
        max-width: 100%;
    }

        .about-container > .area1 > .content > .news-container > .right > .hot-box > .img-box > img {
            width: 100%;
        }

    /* ------ */
}

@media screen and (min-width: 768px) {
    .about-page-container {
        width: 100%;
    }

    .area1 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 100px 0;
    }

        .area1 > .content {
            width: calc(100% - 40px);
            max-width: 1280px;
        }

            .area1 > .content > .news-container {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                gap: 60px;
            }

                .area1 > .content > .news-container > .left {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex: 1;
                }

                    .area1 > .content > .news-container > .left > .focus-box {
                        width: calc(100% - 80px);
                        max-width: 600px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }

                        .area1 > .content > .news-container > .left > .focus-box > ul {
                            width: 120px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 30px;
                        }

                            .area1 > .content > .news-container > .left > .focus-box > ul > li {
                                width: 100%;
                            }

                                .area1 > .content > .news-container > .left > .focus-box > ul > li > a {
                                    width: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-size: 16px;
                                    font-weight: 700;
                                    color: #e84c2e;
                                    border: solid 1px #e84c2e;
                                    border-radius: 30px;
                                    padding: 10px 20px;
                                }

                        .area1 > .content > .news-container > .left > .focus-box > .focus-img-box {
                            width: 100%;
                            display: flex;
                        }

                            .area1 > .content > .news-container > .left > .focus-box > .focus-img-box > img {
                                width: 100%;
                            }

                        .area1 > .content > .news-container > .left > .focus-box > .focus-text > p {
                            width: 100%;
                            display: flex;
                            font-size: 28px;
                            font-weight: 700;
                            margin: 20px 0 0 0;
                        }
                /* ------------- */
                .area1 > .content > .news-container > .right {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex: 2;
                }

                    .area1 > .content > .news-container > .right > .hot-box {
                        width: calc(100% - 80px);
                        max-width: 600px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                    }

                        .area1 > .content > .news-container > .right > .hot-box > h4 {
                            width: 100%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            font-size: 24px;
                            font-weight: 700;
                            margin: 0 0 20px 0;
                        }

                        .area1 > .content > .news-container > .right > .hot-box > .text > p {
                            font-size: 18px;
                            white-space: pre-line;
                            display: flex;
                            justify-content: flex-start;
                            align-items: flex-start;
                        }

    .about-container > .area1 > .content > .news-container > .right > .hot-box > .img-box {
        max-width: 100%;
    }

        .about-container > .area1 > .content > .news-container > .right > .hot-box > .img-box > img {
            width: 100%;
        }
}

.orange {
    color: #ffffff !important;
    background-color: #e84c2e;
}




