body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft JhengHei';
    font-size: 16px;
}
body {
    background-color: #f8f8f8;
}

@media screen and (max-width: 767px) {
    .index-container {
        width: 100%;
    }
    .area1 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 0;
    }

    .area1 > .content {
        width: calc(100% - 40px);
    }

    .area1 > .content > .title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin: 40px 0;
    }

    .area1 > .content > .title > a {
        font-size: 24px;
        font-weight: 700;
        color: #e84c2e;
        border: solid 1px #e84c2e;
        border-radius: 30px;
        padding: 5px 15px;
    }

    .area1 > .content > .store-container > .item {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }

    .area1 > .content > .store-container > .store-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
        margin: 0 0 40px 0;
    }
    .area1 > .content > .store-container > .store-box > .store {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .area1 > .content > .store-container > .store-box > .store > .img-box {
        width: 100%;
        height: 210px;
    }

    .area1 > .content > .store-container > .store-box > .store > p {
        font-weight: 700;
    }
    .area1 > .content > .store-container > .store-box > .store > .img-box > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .area2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
    }

    .area2 > .content {
        width: calc(100% - 40px);
    }

    .area2 > .content > .title {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        margin: 40px 0;
    }
    .area2 > .content > .title > .cross-box {
        position: relative;
        width: 20px;
        height: 20px;
    }

    .area2 > .content > .title > .cross-box > .cross-row {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 25%;
        background-color: #e84c2e;
    }
    .area2 > .content > .title > .cross-box > .cross-column {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 25%;
        height: 100%;
        background-color: #e84c2e;
    }
    .area2 > .content > .title > span {
        color: #e84c2e;
        font-size: 24px;
        font-weight: 700;
    }
    .area2 > .content > .person-box {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        overflow: hidden;
    }

    .area2 > .content > .person-box > .item {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-width: calc(50% - 10px);
    }

    .area2 > .content > .person-box > .item > img {
        width: 100%;
    }

    .area2 > .content > .person-box > .item > img {
        width: 100%;
        margin: 0 0 10px 0;
    }

    .area2 > .content > .person-box > .item > p {
        font-size: 20px;
        font-weight: 700;
    }
    .area2 > .content > .person-box > .item > p > span {
        font-size: 20px;
        font-weight: 700;
    }

    /* ------ */
}

@media screen and (min-width: 768px) {
    .index-container {
        width: 100%;
    }
    .area1 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .area1 > .content {
        width: calc(100% - 40px);
        max-width: 1280px;
        padding: 0 60px;
    }

    .area1 > .content > .title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin: 40px 0;
    }

    .area1 > .content > .title > a {
        font-size: 26px;
        font-weight: 700;
        color: #e84c2e;
        border: solid 1px #e84c2e;
        border-radius: 30px;
        padding: 5px 30px;
    }

    .area1 > .content > .store-container > .item {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }

    .area1 > .content > .store-container > .store-box {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 60px;
        margin: 0 0 40px 0;
    }
    .area1 > .content > .store-container > .store-box > .store {
        width: calc((100% - 120px) / 3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .area1 > .content > .store-container > .store-box > .store > .img-box {
        width: 100%;
        height: 210px;
    }

    .area1 > .content > .store-container > .store-box > .store > p {
        font-weight: 700;
    }
    .area1 > .content > .store-container > .store-box > .store > .img-box > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .area2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
    }

    .area2 > .content {
        max-width: 1280px;
        width: calc(100% - 40px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
    }

    .area2 > .content > .person-box {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
    }

    .area2 > .content > .person-box > .item {
        width: calc((100% - 180px) / 4);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .area2 > .content > .person-box > .item > a > img {
        width: 100%;
        margin: 0 0 10px 0;
    }

    .area2 > .content > .person-box > .item > a {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
    }

    .area2 > .content > .person-box > .item > a > p {
        font-size: 20px;
        font-weight: 700;
    }
    .area2 > .content > .person-box > .item > a > p > span {
        font-size: 20px;
        font-weight: 700;
    }
}
